#help1 {
	text-align: center;
	color: #0000AA;
	font-size: 16px;
	font-weight: bold;
}
#help2 {
	text-align: center;
	color: #0000FF;
	font-size: 14px;
	font-style: italic;
}
#help3 {
	text-align: center;
	color: #0000AA;
	font-size: 16px;
	font-weight: bold;
	display: inline;
	margin-left: 37%;
}
#help4 {
	text-align: center;
	color: #0000FF;
	font-size: 16px;
	font-style: italic;
	display: inline;
}
#formed {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
#ans {
	text-align: center;
	font-size: 30px;
}
#answers {
	text-align: center;
}